{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
 $(document).ready(
		 function()
		 {		                    
            $("#json_jstree").jstree(
                { 
        		"json_data" : 
            	 {
        			"data" : {{ data | raw }}        			
        		},
        		"plugins" : [ "ui","themes", "json_data" ]
        	})
            .bind("select_node.jstree", function (event, data) 
              { 
    			// `data.rslt.obj` is the jquery extended node that was clicked
    			alert(data.rslt.obj.attr("id"));
    		   }
		 );           
         });
 </script>
    
{% endblock %}
{% block body %}
<div id="json_jstree">
        
</div>
{% endblock body %}