<h1>Crear un turno</h1>

<form action="{{ path('turno_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('turno') }}">
            Volver a la lista
        </a>
    </li>
</ul>
